* {
	margin: 0;
	padding: 0;
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
	     -moz-user-select: none; /* Firefox */
	      -ms-user-select: none; /* Internet Explorer/Edge */
	          user-select: none; /* Non-prefixed version, currently
	                                 supported by Chrome and Opera */
}

body {
	background-color: #010208;
	color: #d1f4f2;
	--bg-color: #010208;
	--color: #d1f4f2;
	/* Thanks for the idea Alec <3 */
	background-image: url("assets/stars.png");
	background-size: 1600px;
	image-rendering: optimizeSpeed;	            /* GIVE ME SPEED  */
	image-rendering: -moz-crisp-edges;          /* Firefox*/
	image-rendering: -o-crisp-edges;            /* Opera  */
	image-rendering: -webkit-optimize-contrast; /* Chrome and Safari */
	image-rendering: pixelated;                 /* Chrome */
	image-rendering: optimize-contrast;         /* CSS3 Proposed  */
	-ms-interpolation-mode: nearest-neighbor;   /* IE8+   */
}

a {
	color: #6de2ed;
	text-decoration: none;
}

a:hover {
	cursor: pointer;
}

img {
	image-rendering: optimizeSpeed;	 /* STOP SMOOTHING, GIVE ME SPEED  */
	image-rendering: -moz-crisp-edges;  /* Firefox*/
	image-rendering: -o-crisp-edges;    /* Opera  */
	image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
	image-rendering: pixelated; /* Chrome */
	image-rendering: optimize-contrast; /* CSS3 Proposed  */
	-ms-interpolation-mode: nearest-neighbor;   /* IE8+   */
}

ul {
	list-style: none;
}

li {
	padding: 5px 0;
}

h3 {
	padding-top: 10px;
}

input {
	background-color: var(--bg-color);
	color: var(--color);
	height: 30px;
	width: 50px;
	border: 1px solid var(--color);
	/* Allow selection; disabled because web-app */
	-webkit-touch-callout: text; /* iOS Safari */
	  -webkit-user-select: text; /* Safari */
	   -khtml-user-select: text; /* Konqueror HTML */
	     -moz-user-select: text; /* Firefox */
	      -ms-user-select: text; /* Internet Explorer/Edge */
	          user-select: text; /* Non-prefixed version, currently
	                                 supported by Chrome and Opera */
}

main {
	width: 1120px;
	margin: 0 auto;
}

#status-sidebar {
	margin-top: 20px;
	float: right;
	width: 220px;
}

#interaction-sidebar {
	margin-top: 20px;
	margin-right: 40px;
	float: left;
	width: 215px;
	text-align: right;
}

#status-centered {
	width: 360px;
	display: none;
}

#status-centered p {
	padding: 5px 20px;
	transition: padding-bottom 0.1s;
}
/* Give the appearance of a ghost parent element without needing to deal
with fade shenanigans */
#status-centered p:first-child {
	padding-top: 20px;
}
#status-centered p:last-child {
	padding-bottom: 20px;
}

.status-below-graphic {
	position: relative;
	top: 200px;
}

.no-link {
	color: var(--color);
}

.no-link:hover {
	cursor: default;
}

.body-section {
	display: inline-block;
	position: relative;
	width: 640px;
}

.ghost {
	padding: 20px;
	background-color: rgba(1,2,8,0.75); /* The body background color, so it only shows up over graphics */
}

.tooltip {
	padding: 20px;
	background-color: rgba(3,6,26,0.75); /* The body background color, so it only shows up over graphics */
	position: absolute;
	max-width: 250px;
	text-align: left;
	display: none;
	z-index: 100;
}

.tooltip p {
	padding-bottom: 10px;
}
.tooltip li {
	padding: 0px;
}

.red {
	color: #d190bb;
}

.green {
	color: #5ed099;
}

.link-back {
	position: absolute;
	bottom: 50px;
	left: 0;
	right: 0;
	text-align: center;
	color: #1a4aa0;
	z-index: -100;
}

.link-back a {
	color: #196aff;
}

.build-img {
	width: 60px;
}

.stack {
	position: relative;
	display: block;
}

.stack img {
	position: absolute;
	width: 60px;
	-webkit-filter: drop-shadow(-3px -3px 3px #010208);
	filter: drop-shadow(-3px -3px 3px #010208);
}

.clickable-img {
	-webkit-filter: drop-shadow(0 0 12px #6de2ed);
	filter: drop-shadow(0 0 12px #6de2ed);
	cursor: pointer;
}

.clickable {
	cursor: pointer;
}

.owned-body-img {
	height: 20px;
	margin-right: 5px;
}

/* #built-images { */
/* 	width: 100%; */
/* 	height: 100%; */
/* } */

#built-images img {
	position: absolute;
}

#win-screen, #lose-screen {
	position: absolute;
	display: none;
	width: 40%;
	padding: 75px;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 40px;
}

#attacking-display {
	width: 380px;
	display: none;
}

#click-through {
	position: absolute;
	margin-left: 410px;
}

#focused-body {
	width: 640px;
	z-index: -50;
	position: absolute;
	top: 75px;
	left: 0px;
}

#back-img {
	width: 96px;
}

